RewriteEngine On
RewriteBase /

RewriteRule show-([A-Za-z0-9]{40})\.html$ show.php?hash=$1
RewriteRule rss(-([0-9]+))?\.xml$ rss.php?sort_id=$2
RewriteRule (commend|today|weekly)-([1-9]{1}\d*)\.html$ index.php?o=$1&page=$2
RewriteRule (team|sort|user)-([1-9]{1}\d*)-([1-9]{1}\d*)\.html$ index.php?$1_id=$2&page=$3
RewriteRule ([1-9]{1}\d*)\.html$ index.php?page=$1